img{
    max-height: 270px;
    max-width: 270px;

    border-style: inset;
}
.pictureContainer{
    border-radius: 8px;
    height: 330px;
    width: 300px;
    background-color: #9ba4b4;
    padding: 0px 30px 160px 30px;
    margin: 35px;
    border-style: solid;
    float: left;

}
.content{
    border-radius: 8px;
    height: 300px;
    width:300px;
padding-top: 25px;
background-color: #a1cae2;
border-style: solid;
}
.description{
    height: 225px;
    padding-top: 100px;
    background-color: #a1cae2;
    font-size: 1.5em
}
